## Convert CSV files to SQL Database

### Getting started

Ensure csv's are stored in the same place as this file

### Import dependencies

In [14]:
# Dependencies
import requests
import pandas as pd
import numpy as np

### Import CSV files and store as pandas dataframes

In [28]:
# File to Load
test_data = "7mos_test_data.csv"
BitMEX_data = "BitMEX_Funding_Data.csv"

# Read the modified csv and store into Pandas DataFrame
test_df = pd.read_csv(test_data, encoding="utf-8")
BitMEX_df = pd.read_csv(BitMEX_data, encoding="utf-8")

In [29]:
test_df = test_df.drop(["date"], axis  = 1)

In [30]:
test_df.head(3)

,Unnamed: 0,Date,Open,High,Low,Close,Volume,MarketCap,UnitVolume,Rolling20D,bitfinex_shorts,bitfinex_longs,bitfinex_volume,Total_Crypto_Cap,bitcoin_dominance
0,266,20180926,6452.79,6585.91,6397.89,6495.00,4437300000,1.120000e+11,683.187067,645.691927,28705.4614,26238.2032,18261.0,2.140000e+11,52.41
1,265,20180927,6495.29,6712.10,6464.95,6676.75,4606810000,1.150000e+11,689.977908,647.218549,30170.7654,27634.0571,8514.0,2.230000e+11,51.75
2,264,20180928,6678.75,6785.03,6598.32,6644.13,5014430000,1.150000e+11,754.715817,654.155493,28816.3033,29730.6632,17767.0,2.210000e+11,52.06

In [31]:
BitMEX_df.head(3)

,fundingInterval,fundingRate,fundingRateDaily,symbol,timestamp
0,2000-01-01T08:00:00.000Z,-0.000951,-0.002853,XBTUSD,2019-06-18T20:00:00.000Z
1,2000-01-01T08:00:00.000Z,-0.000480,-0.001440,XBTUSD,2019-06-18T12:00:00.000Z
2,2000-01-01T08:00:00.000Z,-0.000235,-0.000705,XBTUSD,2019-06-18T04:00:00.000Z

### Load Data Frames Into SQL Workbench

in Terminal: <br>
$ pip install mysqlclient
<br>

Ensure that you have a file with your SQL_Key, and that workbench is open with the local host:3360

In [32]:
# Import keys and dependencies
from SQL_Key import mySQLWorkbench_key
import MySQLdb
from sqlalchemy import create_engine

In [33]:
# connect to mySQLWorkbench
engine = create_engine(f'mysql://root:{mySQLWorkbench_key}@localhost:3306/')

In [35]:
## ___ONLY NEED TO RUN THIS THE FIRST TIME___
## create database
# engine.execute("create database CryptoL_db", params=None, multi=False)

In [36]:
# connect to database
engine = create_engine(f'mysql://root:{mySQLWorkbench_key}@localhost:3306/CryptoL_db')

In [37]:
# Check for tables
engine.table_names()

['BitMEX_Test_Data']

In [42]:
# Use pandas to load Json converted DataFrame into database
test_df.to_sql(name='Test_Data', con=engine, if_exists='replace', index=False)

In [43]:
# Use pandas to load Json converted DataFrame into database
BitMEX_df.to_sql(name='BitMEX_Test_Data', con=engine, if_exists='replace', index=False)

In [46]:
# Confirm data has been added by querying the tables
pd.read_sql_query('select * from Test_Data', con=engine).head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,MarketCap,UnitVolume,Rolling20D,bitfinex_shorts,bitfinex_longs,bitfinex_volume,Total_Crypto_Cap,bitcoin_dominance
0,266,20180926,6452.79,6585.91,6397.89,6495.00,4437300000,1.120000e+11,683.187067,645.691927,28705.4614,26238.2032,18261.0,2.140000e+11,52.41
1,265,20180927,6495.29,6712.10,6464.95,6676.75,4606810000,1.150000e+11,689.977908,647.218549,30170.7654,27634.0571,8514.0,2.230000e+11,51.75
2,264,20180928,6678.75,6785.03,6598.32,6644.13,5014430000,1.150000e+11,754.715817,654.155493,28816.3033,29730.6632,17767.0,2.210000e+11,52.06
3,263,20180929,6643.10,6643.10,6511.65,6601.96,4363690000,1.140000e+11,660.968864,658.065930,30337.8430,26952.4398,20238.0,2.220000e+11,51.36
4,262,20180930,6604.71,6643.78,6566.54,6625.56,4002280000,1.150000e+11,604.066675,658.930591,30164.6793,27598.4433,18368.0,2.230000e+11,51.33

In [47]:
# Confirm data has been added by querying the tables
pd.read_sql_query('select * from BitMEX_Test_Data', con=engine).head()

,fundingInterval,fundingRate,fundingRateDaily,symbol,timestamp
0,2000-01-01T08:00:00.000Z,-0.000951,-0.002853,XBTUSD,2019-06-18T20:00:00.000Z
1,2000-01-01T08:00:00.000Z,-0.000480,-0.001440,XBTUSD,2019-06-18T12:00:00.000Z
2,2000-01-01T08:00:00.000Z,-0.000235,-0.000705,XBTUSD,2019-06-18T04:00:00.000Z
3,2000-01-01T08:00:00.000Z,-0.001800,-0.005400,XBTUSD,2019-06-17T20:00:00.000Z
4,2000-01-01T08:00:00.000Z,-0.003750,-0.011250,XBTUSD,2019-06-17T12:00:00.000Z

### Export database to sqlite file

In terminal, navigate to the folder where you want to dump the database, then run the following commands:

In [ ]:
SQLite3

In [ ]:
.output CryptoL_db.sql

In [ ]:
.dump

In [ ]:
.exit